/*==========================背景颜色==========================*/
body {
  background-color: white;
}
/*==========================浮动方格==========================*/
.box {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 2em;
}
.box_event {
  display: inline-block;
  margin: 1em;
}
/*==========================图片大小==========================*/
img {
  display: block;
  margin: 0 auto;
}
/*==========================脚标设置==========================*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: relative;
  clear: both;
  background-color: white;
  width: 100%;
}
/*=========================自适应设置=========================*/
/*    ------------============大屏============------------    */
@media screen and (min-width:600px) {
/*    ----------------------左右分栏----------------------    */
  nav {
    float: left;
    width: 25%;
  }
  section {
/*    margin-left: 25%;*/
    float: right;
    width: 65%;
  }
/*    ----------------------脚标分栏----------------------    */
  .footer_contact {
    float: left;
    width: 40%;
  }
  .footer_quicklink {
    float: left;
    width: 35%;
  }
  .footer_social_privacy {
    float: right;
    width: 25%;
  }
/*    ----------------------三列文字----------------------    */
.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}
/*    ----------------------两列文字----------------------    */
.two-column {
  padding: 1em;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
}
}
/*    ------------============小屏============------------    */
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
  img {
    width: 100%;
  }
}
/*==========================置顶图标==========================*/
#backtop a { /* back to top button */
	position: fixed;
	bottom: 50px; /* 小按钮到浏览器底边的距离 */
	right: 30px; /* 小按钮到浏览器右边框的距离 */
	color: #333; /* 小按钮中文字的颜色 */
	z-index: 1000;
	background: #cfcfcf; /* 小按钮底色 */
	padding: 10px; /* 小按钮中文字到按钮边缘的距离 */
	border-radius: 4px; /* 小按钮圆角的弯曲程度（半径）*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: normal; /* 小按钮中文字的粗细 */
	text-decoration: none;
}

#backtop a:hover { /* 小按钮上有鼠标悬停时 */
	background: #333; /* 小按钮的底色 */
	color: #fff; /* 文字颜色 */
}
/*==========================主页图标==========================*/
#backhome a { /* back to home button */
	position: fixed;
	bottom: 100px; /* 小按钮到浏览器底边的距离 */
	right: 25px; /* 小按钮到浏览器右边框的距离 */
	color: #333; /* 小按钮中文字的颜色 */
	z-index: 1000;
	background: #cfcfcf; /* 小按钮底色 */
	padding: 10px; /* 小按钮中文字到按钮边缘的距离 */
	border-radius: 4px; /* 小按钮圆角的弯曲程度（半径）*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: normal; /* 小按钮中文字的粗细 */
	text-decoration: none;
}

#backhome a:hover { /* 小按钮上有鼠标悬停时 */
	background: #333; /* 小按钮的底色 */
	color: #fff; /* 文字颜色 */
}